width = 400
height = 512
force_window = false
font = "Roboto Light"
font_size = 24
bg_color = 0x0b0d0fff
font_color = 0xf8f8f2ff

[input_text]
font_color = 0xf8f8f2ff
bg_color = 0x282a36ff
margin = "5"
padding = "2"

[list_items]
font_color = 0xf8f8f2ff
selected_font_color = 0x50fa7bff
match_color = 0xff79c6ff
margin = "5 10"
hide_actions = true
action_left_margin = 60
item_spacing = 8
icon_spacing = 6

[icon]
size = 16
theme = "Adwaita"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
